@import '_mixins';

.main{
    position: relative;
    width: 100%;
    height: calc(100svh - 72px);
    @include respond-above(sm) {
        height: calc(100svh - 88px);
    }
    &__percentages{
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        z-index: 2;
        background-color: whitesmoke;
        padding:1rem 1rem 0; // 1rem;
        @include flexible(row, nowrap, center, center);
    }
    &__h2{
        width: 100%;
        left: 0;
        padding: 1rem 0 1rem; //1rem 1rem 1rem;
        background-color: whitesmoke;
        position: absolute;
        // top: -16%;
        top: -4.5rem;
        text-align: center;
        color: $primary; //darksalmon;
        font-size: 1.2rem;
        border-radius: 2rem;
        z-index: 1;
        @include flexible (row, wrap, center, center);
        @include respond-above(sm) {
            top: -2.5rem;
            width: fit-content;
            left: calc(50% - 25rem);
            @include flexible(row, nowrap, center, center);
        }
    }
    &__letters{
        margin-right: 1rem;
    }
    &__letters.bck{
        background-color: #ffffc0;
        // #F6CD8B
        padding: .2rem .4rem;
        border-radius: .4rem;
    }
    &__letter.green{
        color: darkslategray;
    }
    &__infos{
        padding:1rem 0 0; // 1rem;
        width: 100%;
        @include flexible(row, nowrap, center, center);
        gap: 1rem;
        @include respond-above(sm) {
            padding: 0;
        }
    }
    &__info{
        padding:1rem 0 0; // 1rem;
        width: 100%;
        @include flexible(row, wrap, center, center);
        @include respond-above(sm) {
            width: 50%;
            @include flexible(row, nowrap, center, center);
        }
    }
    &__if{
        width: 100%;
        // background-color: primary;
        @include flexible(column, nowrap, center, center);
        @include respond-above(sm) {
            width: 50%;
        }
    }
    &__title{
        display: block;
        border-radius: 1rem;
        font-size: 1.4rem;
        color: darkslategray;
        text-align: justify;
        margin-bottom: 1rem;
        text-align: center;
    }
    &__number{
        font-size: 4rem;
    }
    &__p{
        width: 100%;
        font-size: .8rem;
        color: $primary;
        text-transform: uppercase;
        text-align: center;
        font-weight: 800;
        // word-break: keep-all;
    }
    &__else{
        padding:1rem 1rem 0; // 1rem;
        width: 100%;
        @include flexible(column, nowrap, center, center);
        @include respond-above(sm) {
            width: 50%;
        }
    }
}