 /* OVERALL */
 @import '_reset', '_mixins';
 /* HEADER */
 @import '_header';
 /* HEADER */
 @import '_main';

.box{
   min-height: 100svh;
   width: 100%;
   background-image: url(../img/dino-reichmuth-A5rCN8626Ck-unsplash.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}